/*Style sheet*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap');
/*font-family: 'Titillium Web', sans-serif;*/

body {
  font-family: 'Titillium Web', sans-serif !important;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  position: relative;
}
a{
  text-decoration: none !important;
}
p{
  margin: 0px;
}
ul{
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}
.mg-bot-50{
  margin-bottom: 50px;
}
.mg-bot-40{
  margin-bottom: 40px;
}
.mg-bot-35{
  margin-bottom: 35px;
}
.mg-bot-25{
  margin-bottom: 25px;
}
.mg-bot-15{
  margin-bottom: 15px;
}
.mg-bot-10{
  margin-bottom: 10px;
}
.container-cus{
  width: 94%;
  margin: auto;
}
.container-cus::after{
  content: '';
  display: block;
  clear: both;
}
.form__input-radio:checked + .form__radio-mask {
  border: 2px solid #4cc6fc !important;
}
.form__radio-mask::after{
  background: #4bc6fc !important;
}
.img-box__overlay{
  background: rgb(0 0 0 / 45%) !important;
}
/*top nav*/
.top-n{
  background: white;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 11;
  border-bottom: 1px solid rgb(17 17 17 / 5%);
}
.top-n a{
  color:#03425c;
}
.top-n .left{
  float: left;
}
.top-n .left .bx{
  float: left;
  border-right: 1px solid rgb(17 17 17 / 5%);
  padding-right: 15px;
  margin-right: 15px;
}
.top-n .left .bx:last-child{
  margin-right: 0px;
  padding-right: 0px;
  border: 0px;
}
.top-n .left .bx a{
  overflow: hidden;
  padding: 3px 0px;
  display: block;
}
.top-n .left .bx svg{
  fill: #03425c;
  margin-right: 4px;
  margin-top: 3px;
  float: left;
}
.top-n .left .bx span{
  font-size: 14px;
  float: left;
}
.top-n .right{
 float: right;
}
.top-n .right ul{

}
.top-n .right ul li{
  display: block;
  float: left;
}
.top-n .right ul li a{
  font-size: 14px;
  float: left;
  overflow: hidden;
  padding: 3px 0px;
  display: block;
  border-left: 1px solid rgb(17 17 17 / 5%);
  padding-left: 15px;
  margin-left: 15px;
  color: #03425c;
}
.top-n .right ul li:first-child a{
  margin-left: 0px;
  padding-left: 0px;
  border: 0px;
}
/*home*/
body{
  padding-top: 0px;
}
/*nav*/
.nav-cus{
  width: 100%;
  position: fixed;
  top: 29px;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(17 17 17 / 15%);
}
.nav-cus .mbl-nav-opener{
  display: none;
}
.nav-cus .logo{
  float: left;
}
.nav-cus .logo a{

}
.nav-cus .logo img {
  padding: 18px 0px;
  width: 190px;
}
.nav-cus .right{
  float: right;
}
.nav-cus .right ul{
  float: left;
  margin-right: 0px;
  display: block;
  border-radius: 0px;
}
.nav-cus .right ul li{
  display: inline-block;
  padding: 0px;
  border: 0px;
}
.nav-cus .right ul li a{
  color: #03425c;
  padding: 27px 16px;
  display: block;
}
.nav-cus .right ul li.active{
  background-color: #03425c;
  border-color: #03425c;
}
.nav-cus .right ul li.active a{
  color: white;
}
.nav-cus .right .nav-btn{
  float: left;
}
.nav-cus .right .nav-btn a{
  display: block;
  color: rgb(255 255 255 / 90%);
  font-weight: 300;
  padding: 32px 30px;
  background: rgb(3 66 92);
  background: linear-gradient( 
45deg
, rgb(10 97 134) 0%, rgb(3 66 92) 100%);
}
/*video*/
.video-home{
  position: relative;
  overflow: hidden;
  padding: 0px 0px;
  height: calc(100vh - 0px);
  padding-top: 108.14px;
}
.video-home::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 40%);
  left: 0px;
  top: 0px;
}
.video-home .video-box{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  margin: auto;
}
.video-home .box{
  position: relative;
  z-index: 2;
  padding-left: 3%;
  top: 50%;
  transform: translateY(-50%);
}
.video-home .box .big-txt{
  color: white;
  font-size: 50px;
  font-weight: 600;
  line-height: 54px;
}
.video-home .box .sm-txt{
  color: white;
  font-size: 26px;
  padding: 28px 0px;
  padding-top: 0px;
}
.video-home .box a{
  display: inline-block;
  background: #03425c;
  color: white;
  font-weight: 300;
  padding: 14px 44px;
}
.video-home .box a:hover{
  background: #0d5471;
}
.text-justify{
  text-align: justify;
}
h5 {
  font-size: 24px;
}
/*call-to-action*/
.call-to-action{
  background-image: url(../img/cta-bg_2.jpg);
  overflow: hidden;
  position: relative;
}
.call-to-action::before{
  content: '';
  position: absolute;
  background: #252525;
  width: 14%;
  height: 150%;
  z-index: 0;
  left: 0px;
  right: -9%;
  top: -11px;
  margin: auto;
  transform: rotate( 
31deg
);
}
.call-to-action::after{
  content: '';
  position: absolute;
  background: #252525;
  width: 44%;
  height: 100%;
  right: 0px;
  z-index: 0;
}
.call-to-action .left{
  width: 35%;
  float: left;
  padding: 58px 0px;
}
.call-to-action .right{
  width: 35%;
  float: right;
  position: relative;
  z-index: 1;
  padding: 58px 0px;
}
.call-to-action .right::after{
  content: '';
}
.call-to-action p{
  font-size: 34px;
  line-height: 45px;
  font-weight: 700;
  color: white;
}
.call-to-action a{

}

/*mbl nav*/
body.lock {
  height:100vh;
  overflow:hidden;
}
.mbl-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 14;
  overflow-y: auto;
  -webkit-transition: left .25s ease-in-out;
  -o-transition: left .25s ease-in-out;
  transition: left .25s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out .25s;
  -o-transition: opacity .25s ease-in-out .25s;
  transition: opacity .25s ease-in-out .25s;
  left: -100%;
}
  .mbl-nav .box {
      position: absolute;
      width: 40%;
      min-height: 100vh;
      background-color: #ffffff;
      z-index: 2;
      left: -100%;
      -webkit-transition: left 0.7s linear;
      -o-transition: left 0.7s linear;
      transition: left 0.7s linear;
  }
      .mbl-nav .box .norm {
      }
      .mbl-nav .box .head {
        border-bottom: 1px solid rgb(0 0 0 / 15%);
        padding: 28px 30px;
        overflow: hidden;
        text-align: center;
      }
          .mbl-nav .box .head img.mbl-nav-opener {
              display:none;
          }
          .mbl-nav .box .head img {
              display: inline-block;
              width: 19px;
              margin-top: 4px;
              margin-right: 16px;
          }
              .mbl-nav .box .head img.mbl-logo {
                width: 212px;
                margin-left: 10px;
              }
      .mbl-nav .box ul {
        border-bottom: 0px solid #e4e4e4;
        padding: 22px 50px !important;
      }
          .mbl-nav .box ul li {
              display: block;
          }
              .mbl-nav .box ul li a {
                display: block;
                padding: 10px 0px;
                color: #333;
                font-size: 15px;
                text-decoration: none;
              }
              .mbl-nav-opened {
                left:0%;
                opacity:1;
            }
            .mbl-nav-opened::after {
                left:0%;
            }
                .mbl-nav-opened .box {
                    left:0%;
                }
/*services-modal*/
.service-modal{

}
.service-modal .modal-dialog{

}
.service-modal .modal-dialog .modal-header{
  margin: 0px;
  text-transform: capitalize;
  color: white;
  background: #03425c;
  padding: 10px 20px;
}
.service-modal .modal-dialog .modal-header h5{
font-size: 18px;
}
.service-modal .modal-dialog .modal-header svg{
  width: 30px;
  height: 30px;
  margin-right: -6px;
  cursor: pointer;;
}
.service-modal .modal-dialog .modal-body{

}
.service-modal .modal-dialog .modal-body ul{
  padding-left: 1.5rem !important;;
}
.service-modal .modal-dialog .modal-body ul li{

}
.service-modal .modal-dialog .modal-body ul li a{

}
.service-modal .modal-dialog .modal-footer{

}
/*service-bx*/
.service-bx{

}
.service-bx .img-box{

}
.service-bx .img-box .backd{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #03425c;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.service-bx .img-box:hover .backd{
  opacity: 1;
}
.service-bx .img-box .backd .txt{
  color: white;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  position: relative;
  text-align: center;
  font-size: 15px;
  padding: 0px 18px;
}
.service-bx .img-box .backd .read-btn{
  background: white;
  color: #03425c;
  width: 115px;
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 45px;
  font-size: 15px;
  padding: 5px 0px;
}
.w-sm-btn{
  background: white;
    color: #03425c;
    width: 115px;
    text-align: center;
    margin: auto;
    bottom: 45px;
    font-size: 15px;
    padding: 5px 0px;
}
#served{

}
#served .img-box__details{
  z-index: -1;
}
#served a{

}
#served a .location-item{

}
#served a .location-item .img--box{
}
#served a:hover .location-item .img--box{
  -webkit-transform: scale(1.17);
  -ms-transform: scale(1.17);
  transform: scale(1.17);
}
@media (min-width:0px) and (max-width:1026px){
  .nav-cus .right ul{
    display: none;
  }
  .video-home .box .big-txt{
    font-size: 45px;
    line-height: 43px;
    margin-bottom: 10px;
  }
  .video-home .box a{
    padding: 12px 37px;
  }
  .video-home .box .sm-txt{
    font-size: 24px;
  }
  .call-to-action .left {
    width: 46%;
  }
  .call-to-action .right {
    width: 36%;
  }
  .nav-cus .mbl-nav-opener{
    float: left;
    display: inline-block;
    padding: 27px 0px;
    margin-right: 22px;
  }
  .nav-cus .mbl-nav-opener img{
    width: 24px;
  }
}
@media (min-width:0px) and (max-width:1026px){
  .video-home .video-box{
    width: auto;
    height: 100%;
  }
}
@media (min-width:0px) and (max-width:567px){
  .nav-cus .right .nav-btn {
    display: none;
  }
  .nav-cus .logo {
    width: 100%;
    text-align: center;
  }
  .nav-cus .logo img {
    padding: 15px 0px;
    height: auto;
  }
  .nav-cus .mbl-nav-opener{
    position: absolute;
    padding: 24px 0px;
  }
  .nav-cus .mbl-nav-opener img {
    width: 20px;
  }
  .video-home .box{
    text-align: center;
  }
  .video-home .box .big-txt {
    font-size: 42px;
    line-height: 40px;
  }
  .video-home .box .sm-txt {
    font-size: 23px;
    margin-bottom: 8px;
  }
  .video-home .box a {
    padding: 9px 35px;
  }
  .counter .counter__top{
    text-align: center !important;
  }
  .counter .counter__lower{
    text-align: center;
  }
  .counter__count {
    font-size: 62px;
  }
  .call-to-action::before {
    width: 117%;
    height: 90px;
    z-index: 0;
    left: -18px;
    right: 0%;
    top: 0px;
    bottom: -97px;
    margin: auto;
    transform: rotate( 
6deg
 );
}
  .call-to-action::after{
    width: 100%;
    bottom: 0px;
    height: 44%;
  }
  .call-to-action .left{
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .call-to-action .right{
    width: 100%;
    text-align: center;
  }
  .call-to-action p {
    font-size: 30px;
  }
  div.img-box{
    margin-bottom: 20px;
  }
  .page-footer__logo{
    text-align: center;
  }
  .page-footer .socials{
    justify-content: center;
  }
  .page-footer__copyright{
    text-align: center;
  }
  .service-modal img{
    padding: 0px 0px;
    margin-top: 0px;
  }
  .top-n .left{
    width: 100%;
  }
  .top-n .left .bx {
    border-right: 1px solid rgb(17 17 17 / 5%);
    padding-right: 0px;
    margin-right: 0px;
    width: 50%;
    text-align: center;
  }
  .top-n .left .bx a{
    display: inline-block;
    vertical-align: bottom;
  }
  .top-n .right{
    display: none;
  }
  .location-item {
    margin-bottom: 10px !important;
  }
  #served{
    padding-top: 15px;
    padding-bottom: 58px;
  }
  .calculator {
    padding: 125px 0 !important;
  }
  .location-item .advantages-item__title{
    font-size: 39px;
  }
  .location-item .img-box__details{
    padding-bottom: 0px;
  }
}